@model Cliente


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cliente</h4>
<hr />

@using (Html.BeginForm())
{

    @*@: ClienteId: @Html.HiddenFor(x => x.ClienteId)
    @Html.ValidationMessageFor(x => x.ClienteId)
    <br />*@
    @: Cedula: @Html.TextBoxFor(x => x.Cedula)
    @Html.ValidationMessageFor(x => x.Cedula)
    <br />
    @:Nombre: @Html.TextBoxFor(x => x.Nombre)
    @Html.ValidationMessageFor(x => x.Nombre)
    <br />
    @:Apellido: @Html.TextBoxFor(x => x.Apellido)
    @Html.ValidationMessageFor(x => x.Apellido)
    <br />
    @:Edad: @Html.TextBoxFor(x => x.Edad)
    @Html.ValidationMessageFor(x => x.Edad)
    <br />
    @:Telefono: @Html.TextBoxFor(x => x.Telefono)
    @Html.ValidationMessageFor(x => x.Telefono)
    <br />
    @:Email: @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
    <br />
    @:Cliente_Genero: @Html.DropDownListFor(x=>x.Cliente_Genero,
new SelectList(Enum.GetValues(typeof(Genero))),
"Seleccionar Genero",
new
{ @class = "form-control"
})
    <h5>Estado Civil</h5>
    @:Casado: @Html.RadioButtonFor(x => x.Estado_civil, "Casado")
    <br />
    @:Soltero: @Html.RadioButtonFor(x => x.Estado_civil, "Soltero")
    <br />
    @:Viudo: @Html.RadioButtonFor(x => x.Estado_civil, "Viudo")
    <br />
    @:Union libre: @Html.RadioButtonFor(x => x.Estado_civil, "Union libre")
    <br />
    <br />
    <br />
    <br />
    @:Leer: @Html.CheckBox("Leer")
    @:Cantar: @Html.CheckBox("Cantar")
    @:Bailar: @Html.CheckBox("Bailar")
    @:Escribir: @Html.CheckBox("Escribir")
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    <input type="submit" value="Enviar" />

}
