@model HtmlHelpersApp2.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(m => m.Cedula)
            <div class="form-group">
                @Html.LabelFor(x => x.Nombre) @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Apellido) @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Apellido, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(x => x.Edad) @Html.TextBoxFor(x => x.Edad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Edad, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Telefono) @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Telefono, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email) @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Cliente_Genero)
                @Html.DropDownListFor(m => m.Cliente_Genero,
                new SelectList(Enum.GetValues(typeof(Genero))),
                "Seleccione Genero",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Cliente_Genero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Estado_civil)
                <br />
                Casado @Html.RadioButtonFor(m => m.Estado_civil, "Casado")
                <br />
                Soltero @Html.RadioButtonFor(m => m.Estado_civil, "Soltero")
                <br />
                Viudo @Html.RadioButtonFor(m => m.Estado_civil, "Viudo")
                <br />
                Union Libre @Html.RadioButtonFor(m => m.Estado_civil, "Union Libre")
            </div>
            <h5><b> Hobbies<b> </h5>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Leer)
                        @Html.DisplayNameFor(model => model.Leer)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Cantar)
                        @Html.DisplayNameFor(model => model.Cantar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Bailar)
                        @Html.DisplayNameFor(model => model.Bailar)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Escribir)
                        @Html.DisplayNameFor(model => model.Escribir)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
